.canvasContainer {
    border: 4px solid #414141;
    border-radius: 4px;
}

#screenshotCanvas {
    margin: 0px;
    padding: 0px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.renderCanvas {
    position: absolute;
}

.editor-options {
    padding: 32px;
}

.editor-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 32px;
}

.border-right {
    border-right: 1px solid #303030;
}

.mat-body {
    margin-top: 0px;
}

.color-tooltip {
    margin: 0px;
    padding: 0px;
    text-align: center;
}